@{
    ViewData["Title"] = "Главная";
}
<h1>Система оборота картриджей</h1>
<p>Учетные записи по-умолчанию</p>
<ul class="list-group">
    <li class="list-group-item">Менеджер склада в г. Екатеринбург - stockManager qwe123ewq</li>
    <li class="list-group-item">Менеджер склада в г. Москва - stockManagerM qwe123ewq</li>
    <li class="list-group-item">Работник снабжения офиса в г.Екатеринбург - officeManagerE qwe123ewq</li>
    <li class="list-group-item">Работник снабжения офиса в г.Москва - officeManagerM qwe123ewq</li>
    <li class="list-group-item">Техобслуживание офиса в г. Екатеринбург - techManagerE qwe123ewq</li>
    <li class="list-group-item">Техобслуживание офиса в г. Москва - techManagerE qwe123ewq</li>
</ul>