@model WebApplication.Data.Models.Cartridge
@{
    ViewData["Title"] = "Отправить картридж";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Отправить картридж</h2>
<form asp-action="SendCartrige">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="InventoryNumber" />
    <div class="form-group">
        <label asp-for="PlaceId"></label>
        <select class="form-control" asp-for="PlaceId" asp-items="@(new SelectList(ViewBag.Places, "Id", "FullName"))"></select>
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Отправить" />
    </div>
</form>
